@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #7a644e96;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #706c6c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
